In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dataframe_train = pd.read_csv('train.csv')
dataframe_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
dataframe_train.shape

(891, 12)

In [5]:
dataframe_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
dataframe_train.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [7]:
dataframe_train.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [8]:
dataframe_train.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [9]:
dataframe_train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [10]:
dataframe_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
dataframe_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
columns_to_drop = ['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin']

In [13]:
dataframe_train = dataframe_train.drop(columns_to_drop, axis = 1)
dataframe_train.head()

   Survived  Pclass     Sex   Age     Fare Embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S

In [14]:
dataframe_train[dataframe_train['Age'].isna()]

     Survived  Pclass     Sex  Age     Fare Embarked
5           0       3    male  NaN   8.4583        Q
17          1       2    male  NaN  13.0000        S
19          1       3  female  NaN   7.2250        C
26          0       3    male  NaN   7.2250        C
28          1       3  female  NaN   7.8792        Q
..        ...     ...     ...  ...      ...      ...
859         0       3    male  NaN   7.2292        C
863         0       3  female  NaN  69.5500        S
868         0       3    male  NaN   9.5000        S
878         0       3    male  NaN   7.8958        S
888         0       3  female  NaN  23.4500        S

[177 rows x 6 columns]

In [15]:
dataframe_train.groupby('Pclass').mean()[['Age']]

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [16]:
def age_approx(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):
        if Pclass == 1 :
            return 39
        elif Pclass == 2:
            return 30
        else:
            return 24
    else:
        return Age

In [17]:
dataframe_train['Age'] = dataframe_train[['Age','Pclass']].apply(age_approx, axis = 1)
dataframe_train

     Survived  Pclass     Sex   Age     Fare Embarked
0           0       3    male  22.0   7.2500        S
1           1       1  female  38.0  71.2833        C
2           1       3  female  26.0   7.9250        S
3           1       1  female  35.0  53.1000        S
4           0       3    male  35.0   8.0500        S
..        ...     ...     ...   ...      ...      ...
886         0       2    male  27.0  13.0000        S
887         1       1  female  19.0  30.0000        S
888         0       3  female  24.0  23.4500        S
889         1       1    male  26.0  30.0000        C
890         0       3    male  32.0   7.7500        Q

[891 rows x 6 columns]

In [18]:
dataframe_train.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
Embarked    2
dtype: int64

In [19]:
dataframe_train.dropna(inplace = True)
dataframe_train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
Embarked    0
dtype: int64

In [20]:
dataframe_train.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
Fare        float64
Embarked     object
dtype: object

In [21]:
dataframe_train_one_hot = pd.get_dummies(dataframe_train, columns = ['Sex','Embarked'])

In [22]:
dataframe_train_one_hot

,Survived,Pclass,Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,7.2500,0,1,0,0,1
1,1,1,38.0,71.2833,1,0,1,0,0
2,1,3,26.0,7.9250,1,0,0,0,1
3,1,1,35.0,53.1000,1,0,0,0,1
4,0,3,35.0,8.0500,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,13.0000,0,1,0,0,1
887,1,1,19.0,30.0000,1,0,0,0,1
888,0,3,24.0,23.4500,1,0,0,0,1
889,1,1,26.0,30.0000,0,1,1,0,0
890,0,3,32.0,7.7500,0,1,0,1,0

In [23]:
dataframe_train_one_hot.columns

Index(['Survived', 'Pclass', 'Age', 'Fare', 'Sex_female', 'Sex_male',
       'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [24]:
X = dataframe_train_one_hot[['Pclass', 'Age', 'Fare', 'Sex_female', 'Sex_male',
       'Embarked_C', 'Embarked_Q', 'Embarked_S']]
y = dataframe_train_one_hot['Survived']

In [25]:
X.shape,y.shape

((889, 8), (889,))

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [27]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((666, 8), (223, 8), (666,), (223,))

In [28]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [29]:
logreg.fit(X_train,y_train)

C:\Users\gabab\Software\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [30]:
y_pred = logreg.predict(X_test)

In [31]:
from sklearn import metrics

In [32]:
metrics.confusion_matrix(y_test,y_pred)

array([[115,  17],
       [ 24,  67]], dtype=int64)

In [33]:
metrics.accuracy_score(y_test, y_pred)

0.8161434977578476

In [34]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.87      0.85       132
           1       0.80      0.74      0.77        91

    accuracy                           0.82       223
   macro avg       0.81      0.80      0.81       223
weighted avg       0.82      0.82      0.81       223

In [35]:
logreg.coef_,logreg.intercept_

(array([[-1.02099283e+00, -2.90509255e-02, -1.00574526e-04,
          1.19344513e+00, -1.20466497e+00,  1.76830751e-01,
          8.26147397e-02, -2.70665332e-01]]),
 array([3.06615762]))

In [36]:
logreg.predict(X_test)

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0], dtype=int64)

In [37]:
logreg.predict_proba(X_test)

array([[0.93402159, 0.06597841],
       [0.60361898, 0.39638102],
       [0.88924159, 0.11075841],
       [0.88338965, 0.11661035],
       [0.86028417, 0.13971583],
       [0.91920736, 0.08079264],
       [0.67570811, 0.32429189],
       [0.4941078 , 0.5058922 ],
       [0.8975398 , 0.1024602 ],
       [0.81728312, 0.18271688],
       [0.86019046, 0.13980954],
       [0.42998872, 0.57001128],
       [0.15291689, 0.84708311],
       [0.37321333, 0.62678667],
       [0.92742776, 0.07257224],
       [0.61054217, 0.38945783],
       [0.06219662, 0.93780338],
       [0.7980896 , 0.2019104 ],
       [0.06231285, 0.93768715],
       [0.86019031, 0.13980969],
       [0.11397313, 0.88602687],
       [0.40076265, 0.59923735],
       [0.86038871, 0.13961129],
       [0.28166099, 0.71833901],
       [0.64864573, 0.35135427],
       [0.88636728, 0.11363272],
       [0.78962826, 0.21037174],
       [0.90026877, 0.09973123],
       [0.42911045, 0.57088955],
       [0.72128442, 0.27871558],
       [0.44392721, 0.55607279],
       [0.72087869, 0.27912131],
       [0.44727572, 0.55272428],
       [0.35882724, 0.64117276],
       [0.04998311, 0.95001689],
       [0.91249515, 0.08750485],
       [0.26580442, 0.73419558],
       [0.14919165, 0.85080835],
       [0.79458589, 0.20541411],
       [0.30223309, 0.69776691],
       [0.22827739, 0.77172261],
       [0.35864793, 0.64135207],
       [0.61742969, 0.38257031],
       [0.09206965, 0.90793035],
       [0.08706303, 0.91293697],
       [0.68975639, 0.31024361],
       [0.93662036, 0.06337964],
       [0.91250679, 0.08749321],
       [0.22388082, 0.77611918],
       [0.24939155, 0.75060845],
       [0.89759944, 0.10240056],
       [0.90017821, 0.09982179],
       [0.4436459 , 0.5563541 ],
       [0.22321745, 0.77678255],
       [0.44369596, 0.55630404],
       [0.93832112, 0.06167888],
       [0.12592046, 0.87407954],
       [0.08659272, 0.91340728],
       [0.15911644, 0.84088356],
       [0.78494017, 0.21505983],
       [0.78984537, 0.21015463],
       [0.12586773, 0.87413227],
       [0.92935316, 0.07064684],
       [0.47967059, 0.52032941],
       [0.71201973, 0.28798027],
       [0.79484431, 0.20515569],
       [0.70034203, 0.29965797],
       [0.88034709, 0.11965291],
       [0.59503772, 0.40496228],
       [0.86019046, 0.13980954],
       [0.2757561 , 0.7242439 ],
       [0.17259756, 0.82740244],
       [0.63185822, 0.36814178],
       [0.13842483, 0.86157517],
       [0.89755321, 0.10244679],
       [0.84846399, 0.15153601],
       [0.89754038, 0.10245962],
       [0.89753837, 0.10246163],
       [0.88924036, 0.11075964],
       [0.91271132, 0.08728868],
       [0.84846394, 0.15153606],
       [0.13830656, 0.86169344],
       [0.85047437, 0.14952563],
       [0.93134694, 0.06865306],
       [0.93139274, 0.06860726],
       [0.68957486, 0.31042514],
       [0.88634909, 0.11365091],
       [0.63834319, 0.36165681],
       [0.35864793, 0.64135207],
       [0.72739925, 0.27260075],
       [0.87410452, 0.12589548],
       [0.19439179, 0.80560821],
       [0.2229734 , 0.7770266 ],
       [0.90815053, 0.09184947],
       [0.78511838, 0.21488162],
       [0.76493022, 0.23506978],
       [0.19418106, 0.80581894],
       [0.88634782, 0.11365218],
       [0.32596787, 0.67403213],
       [0.63402772, 0.36597228],
       [0.10579688, 0.89420312],
       [0.95047705, 0.04952295],
       [0.88036356, 0.11963644],
       [0.80860975, 0.19139025],
       [0.87686956, 0.12313044],
       [0.70854623, 0.29145377],
       [0.51274201, 0.48725799],
       [0.20591453, 0.79408547],
       [0.92132852, 0.07867148],
       [0.07356263, 0.92643737],
       [0.41513263, 0.58486737],
       [0.1102964 , 0.8897036 ],
       [0.09000432, 0.90999568],
       [0.94159338, 0.05840662],
       [0.8863471 , 0.1136529 ],
       [0.63787869, 0.36212131],
       [0.08216158, 0.91783842],
       [0.3376053 , 0.6623947 ],
       [0.8863471 , 0.1136529 ],
       [0.92539302, 0.07460698],
       [0.88290471, 0.11709529],
       [0.45784639, 0.54215361],
       [0.79462692, 0.20537308],
       [0.89810722, 0.10189278],
       [0.76472099, 0.23527901],
       [0.86019046, 0.13980954],
       [0.87369318, 0.12630682],
       [0.42252117, 0.57747883],
       [0.42186547, 0.57813453],
       [0.0750958 , 0.9249042 ],
       [0.85027586, 0.14972414],
       [0.09329159, 0.90670841],
       [0.89753837, 0.10246163],
       [0.88633896, 0.11366104],
       [0.89810722, 0.10189278],
       [0.48661321, 0.51338679],
       [0.79928699, 0.20071301],
       [0.87727647, 0.12272353],
       [0.78962826, 0.21037174],
       [0.67722051, 0.32277949],
       [0.14198427, 0.85801573],
       [0.51513056, 0.48486944],
       [0.89207187, 0.10792813],
       [0.84966985, 0.15033015],
       [0.86019046, 0.13980954],
       [0.92935874, 0.07064126],
       [0.7695268 , 0.2304732 ],
       [0.85258525, 0.14741475],
       [0.79349208, 0.20650792],
       [0.91249515, 0.08750485],
       [0.8791289 , 0.1208711 ],
       [0.92544505, 0.07455495],
       [0.90774165, 0.09225835],
       [0.42896955, 0.57103045],
       [0.20591453, 0.79408547],
       [0.12534422, 0.87465578],
       [0.06088925, 0.93911075],
       [0.91702701, 0.08297299],
       [0.44326364, 0.55673636],
       [0.35864793, 0.64135207],
       [0.88338551, 0.11661449],
       [0.34539593, 0.65460407],
       [0.78962826, 0.21037174],
       [0.89798701, 0.10201299],
       [0.86028417, 0.13971583],
       [0.89753298, 0.10246702],
       [0.61731973, 0.38268027],
       [0.8975398 , 0.1024602 ],
       [0.76495615, 0.23504385],
       [0.90775551, 0.09224449],
       [0.89753725, 0.10246275],
       [0.09325792, 0.90674208],
       [0.06239434, 0.93760566],
       [0.37910484, 0.62089516],
       [0.89764996, 0.10235004],
       [0.96033774, 0.03966226],
       [0.82180981, 0.17819019],
       [0.89754546, 0.10245454],
       [0.09086545, 0.90913455],
       [0.32114651, 0.67885349],
       [0.66225215, 0.33774785],
       [0.29962491, 0.70037509],
       [0.91015932, 0.08984068],
       [0.91708429, 0.08291571],
       [0.62489796, 0.37510204],
       [0.08218977, 0.91781023],
       [0.84846399, 0.15153601],
       [0.05163095, 0.94836905],
       [0.12541618, 0.87458382],
       [0.24909985, 0.75090015],
       [0.91702367, 0.08297633],
       [0.30711437, 0.69288563],
       [0.71390643, 0.28609357],
       [0.43561218, 0.56438782],
       [0.37064638, 0.62935362],
       [0.49686844, 0.50313156],
       [0.88924032, 0.11075968],
       [0.21967583, 0.78032417],
       [0.33726502, 0.66273498],
       [0.77501363, 0.22498637],
       [0.90017347, 0.09982653],
       [0.92133985, 0.07866015],
       [0.84846399, 0.15153601],
       [0.48382823, 0.51617177],
       [0.35864793, 0.64135207],
       [0.08921216, 0.91078784],
       [0.61548785, 0.38451215],
       [0.88036148, 0.11963852],
       [0.89208107, 0.10791893],
       [0.53680691, 0.46319309],
       [0.39045551, 0.60954449],
       [0.56125616, 0.43874384],
       [0.67702372, 0.32297628],
       [0.61965114, 0.38034886],
       [0.88924283, 0.11075717],
       [0.63838963, 0.36161037],
       [0.81806189, 0.18193811],
       [0.43610363, 0.56389637],
       [0.70624438, 0.29375562],
       [0.91478502, 0.08521498],
       [0.92341964, 0.07658036],
       [0.40081932, 0.59918068],
       [0.92341964, 0.07658036]])